<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
	<header class="masthead mb-auto">
		<div class="inner">
			<nav class="navbar navbar-expand-sm navbar-light bg-faded">
				<a href="#/!" class="navbar-brand">HouseRank</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar5">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse justify-content-lg-end" id="navbar5">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link" href="#!rankHouse">Rank a House</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#!viewRank">View House ranking</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#!links">Useful links</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#!test">test</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</header>

	<main role="main" class="introText" id="form">
		<div class="container">
			<div class="row step">
				<div class="col">
					<form>
						<div class="row">
							<div class="col-sm-12 col-md-6">
								<div class="form-group">
									<label>Cuantos años viviste en el inmueble?</label>
									<select class="custom-select">
										<option></option>
										<option value="1">0 a 1</option>
										<option value="2">1 a 2</option>
										<option value="3">2 a 4</option>
										<option value="3">4 o mas</option>
									</select>
								</div>
								<fieldset class="form-group">
									<div class="row">
										<legend class="col-form-label col-sm-2 pt-0">Alquilaste con:</legend>
										<div class="col-sm-10">
											<div class="form-check">
												<input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
												<label class="form-check-label" for="gridRadios1">
													Inmobiliaria
												</label>
											</div>
											<div class="form-check">
												<input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
												<label class="form-check-label" for="gridRadios2">
													Dueño directo
												</label>
											</div>
										</div>
									</div>
								</fieldset>
							</div>
							<div class="col-sm-12 col-md-6">
								<div class="form-group">
									<label>Selecciona la inmobiliaria?</label>
									<select class="custom-select">
										<option></option>
										<option value="1">Cakita prop</option>
										<option value="2">Tecobromas SA</option>
										<option value="3">Somos Rochos propiedades</option>
										<option value="3">Lta finca raiz</option>
										<option value="3">Otro</option>
									</select>
								</div>
								<div class="form-group row">
									<div class="col-sm-12">
										<button type="submit" class="btn btn-warning float-right">Siguiente paso</button>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</main>
	<hr>
	<footer class="mastfoot mt-auto">
		<div class="inner">

		</div>
	</footer>
</div>