<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<!-- Style CSS -->
	<link rel="stylesheet" href="css/style.css">
	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:700|Noto+Serif+JP:300|Permanent+Marker" rel="stylesheet">


	<title><%=title%></title>
</head>

<body class="bg">
	<nav class="navbar navbar-expand-md navbar-light bg-faded">
		<a href="/" class="navbar-brand"><%=title%></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar5">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="navbar-collapse collapse" id="navbar5">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="/rankHouse">Rank a House</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/viewRank">View House ranking</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="/links">Useful links</a>
				</li>
			</ul>
		</div>
	</nav>
	<section>
		<div class="container">
			<div class="row text-right">
				<div class="col-md-10 offset-md-2 introText">
					<h1>Aqui encontraras algunos links utiles</h1>
				</div>
			</div>
		</div>
	</section>


	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="js/jquery.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>

</html>