<div class='cover-container d-flex h-100 p-3 mx-auto flex-column'>
	<header class='masthead mb-auto'>
		<div class='inner'>
			<nav class='navbar navbar-expand-sm navbar-light bg-faded'>
				<a href='#!home' class='navbar-brand'>{{ vm.name }}</a>
				<button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbar5'>
					<span class='navbar-toggler-icon'></span>
				</button>
				<div class='navbar-collapse collapse justify-content-lg-end' id='navbar5'>
					<ul class='navbar-nav'>
						<li class='nav-item'>
							<a class='nav-link' href='#!rankHouse'>Rank a House</a>
						</li>
						<li class='nav-item'>
							<a class='nav-link' href='#!viewRank'>View House ranking</a>
						</li>
						<li class='nav-item'>
							<a class='nav-link' href='#!links'>Useful links</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</header>

	<main role='main' class='introText'>
		<div class='row'>
			<div class='col introText'>
				<h1>PASO 1</h1>
				<h4>Ingresa los datos del lugar</h4>
			</div>
		</div>
		<div class='row'>
			<div class='col'>
				<form>
					<div class="form-row">
						<div class='form-group col-12'>
							<label for='inputAddress'>
								<h6>Calle y Altura</h6>
							</label>
							<input type='text' class='form-control' id='inputAddress' ng-model='vm.address' placeholder="Ej: Av cordoba 4400">
							<h1>{{ vm.address }}</h1>
						</div>
					</div>
					<div class='form-row'>
						<div class='form-group col-6'>
							<label for='inputAddress2'>
								<h6>Piso</h6>
							</label>
							<input type='text' class='form-control' id='inputAddress2' placeholder='Ej: Pb / 4'>
						</div>
						<div class='form-group col-6'>
							<label for='inputAddress2'>
									<h6>Depto</h6>
							</label>
							<input type='text' class='form-control' id='inputAddress2' placeholder='Ej: 4 / C'>
						</div>
					</div>
					<a class="btn btn-md btn-warning" href="#!home">atras</a>
          <a class="btn btn-md btn-info" href="#!steptwo">Siguiente</a>
				</form>
			</div>
		</div>
	</main>

	<footer class='mastfoot mt-auto'>
		<div class='inner'>

		</div>
	</footer>
</div>