<div class="container-fluid full-screen">
    <div class="row">
        <div class="col-sm">
            <nav class="navbar navbar-expand-sm navbar-light bg-faded">
                <a href="#/!" class="navbar-brand">HouseRank</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar5">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse justify-content-lg-end" id="navbar5">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="#!rankHouse">Rank a House</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#!viewRank">View House ranking</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#!links">Useful links</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-sm introText">
            <h1>Rank yo House</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <a class="btn btn-md btn-info" href="#!viewRank">Ver Ranking</a>
            <a class="btn btn-md btn-warning" href="#!links">Ver useful links</a>
        </div>
    </div>
</div>