<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
	<header class="masthead mb-auto">
		<div class="inner">
			<nav class="navbar navbar-expand-sm navbar-light bg-faded">
				<a href="/#!home" class="navbar-brand">{{vm.name}}</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar5">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse justify-content-lg-end" id="navbar5">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link" href="#!rankHouse">Rank a House</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#!viewRank">View House ranking</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#!links">Useful links</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</header>

	<main role="main" class="introText">
		<div class='row'>
			<div class='col introText'>
				<h1>PASO 2</h1>
				<h4>Indica la forma de alquiler</h4>
			</div>
		</div>
		<div class='row'>
			<div class='col'>
				<form>
					<div class="form-row">
						<div class='form-group col-12 col-sm-6'>
							<label for="exampleFormControlSelect1">
								<h6>Indica los años que viviste</h6>
							</label>
							<select class="form-control" id="exampleFormControlSelect1">
								<option>...</option>
								<option>1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
							</select>
						</div>
						<div class='form-group col-12 col-sm-6'>
							<label for="exampleFormControlSelect1">
								<h6>A traves de quien alquilaste</h6>
							</label>
							<select class="form-control" id="exampleFormControlSelect1">
									<option>...</option>
								<option>Dueño directo</option>
								<option>Inmobiliaria</option>
							</select>
						</div>
					</div>
					<div class='form-row'>
						<div class='form-group col-12'>
							<label for="exampleFormControlSelect1">
								<h6>Selecciona la inmobiliaria</h6>
							</label>
							<select class="form-control" id="exampleFormControlSelect1">
								<option>...</option>
								<option>tecagamos siempre propiepdades</option>
								<option>tecagamos casi siempre propiepdades</option>
								<option>te cobro de mas propiepdades</option>
								<option>noschupaunhuevo propiepdades</option>
								<option>queseyo propiepdades</option>
								<option>Otra</option>
							</select>
						</div>
					</div>
					<a class="btn btn-md btn-warning" href="#!rankHouse">atras</a>
					<a class="btn btn-md btn-info" href="/">Siguiente</a>
				</form>
			</div>
		</div>
	</main>
	<hr>
	<footer class="mastfoot mt-auto">
		<div class="inner">

		</div>
	</footer>
</div>